<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control"
            type="email"
            id="email"
            ngModel
            name="email"
            required
            email
            #email="ngModel">
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control"
            type="password"
            id="password"
            ngModel name="password"
            required
            password
            #password="ngModel">
          <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a valid password!</span>
        </div>
        <div class="form-group">
          <label for="sub">Subscription</label>
          <select class="form-control"
            id="sub"
            [ngModel]="defaultSub"
            name="sub">
            <option
              *ngFor="let subscription of subscriptions"
              [value]="subscription">{{ subscription }}</option>
          </select>
        </div>
        <p class="help-block" *ngIf="!f.valid && f.touched">The form is invalid!</p>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Email: {{ userSub.email }}</p>
      <p>Password: {{ userSub.password }}</p>
      <p>Subscription: {{ userSub.sub }}</p>
    </div>
  </div>
</div>
